<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 변경</title>
    <link rel="stylesheet" href="../static/mypage.css">
</head>
<body>
    <header>
        <button class="logout-button" onclick="window.location.href='/logout'">로그아웃</button>
        <h1><center>비밀번호 변경</center></h1>
        <div class="details">
            <div class="dropdown">
                <form action="/lgin" method="post" >
                <button type="submit" class="dropbtn">홈으로</button>
            </form>
            </div>
        </div>
    </header>
    <main>
        
        <div class="menu">
            {% if idExist != 1 %}
            <p style="color: red; text-align: center;">{{idExist}}</p>
            {% endif %}
            
            <form action="/changeChkPW" method="post" onsubmit="return checkForm()">
            <div class="password-section">
                <label class="label" for="prePW" >현재 비밀번호</label>
                <input type="password" id="current-password" required name="prePW" placeholder="현재 비밀번호를 입력하세요">
                <button class="button" type="submit">확인</button>
            </div>
            </form>
            {% if error_message %}
            <p style="color: red; text-align: center;">{{error_message}}</p>
            {% endif %}
            
            </div>
            <center>
        </div></center>
    </main>

    <script>
        function checkForm() {
            var userPW = document.getElementsByName("prePW")[0].value;
            if (userPW == prePW) {
                alert("현재 비밀번호를 입력하세요");
                return false; // 폼 제출 방지
            }
            return true; // 폼 제출 허용
        }
    </script>
</body>
</html>
