<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <form class="form" method="post" action="/show_pw" onsubmit="return checkForm()">
        <p id="heading">Forgot Password</p>
        {% if error_message %}
            <p style="color: white;">{{ error_message }}</p>
        {% endif %}
        <div class="field">
            <input autocomplete="off" placeholder="아이디를 입력" class="input-field" type="text" name="userid" required/>
        </div>
        <div class="field">
            <input autocomplete="off" placeholder="계좌번호 뒷 3자리 입력" class="input-field" type="text" maxlength="3" name="account_l3" required/>
        </div>
        <br>
            <button type="submit" class="button2">Find password</button>
            <button type="button" class="button3" onclick="window.location.href='/login'" >Login Page</button>
    </form>
</body>
</html>